body,html, h1, h2, h3,h4, p{
  margin:0;
  font-family: '黑体',sans-serif;
}
h1{
  font-size: 28px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 16px;
}
ul{
  list-style: none;
  margin:0;
  padding: 0;
}
img{
  margin:0;
  padding: 0;
}
.clear:after{
     content:"";
     display:block;
     height:0;
     clear:both;
     visibility:hidden;
}
/*  nav  */
.nav{
  height: 35px;
  background-color: #010101;
  overflow: hidden;
/*  margin-bottom: 12px;*/
}
.nav ul{
  margin-left: 80px;
}
.nav ul li{
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.nav a{
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  line-height: 35px;
}
.active{
  background:#0ba6b8;
}
.nav img{
  padding-right: 5px;
}
.nav form{
  margin:0;
  padding: 0;
  text-align: right;
  margin-right: 85px;
}
.nav input{
  height: 16px;
  border: 1px solid #373737;
  background-color: #282828;
  margin-right: 24px;
}
.nav button{
  color: #fff;
  font-size: 14px;
  width: 78px;
  height: 35px;
  text-align: center;
  background-color: #0ba6b8;
  border: none;
}
/*  footer  */
footer{
  background: #000;
  color: #fff;
  padding-left: 80px;
  padding-right: 80px;
}
.list{
  float: left;
  padding-right: 100px;
  padding-top: 22px;
  padding-bottom: 50px;
}
.list li{
  border-bottom: 1px dotted #fff;
}
.list li:last-child{
  border-bottom: none;
}
.list h2, .list h3{
  line-height: 50px;
}
.list span{
  font-size: 14px;
  line-height: 20px;
}
.list > div{
  padding-top:9px;
  border-top: 1px dotted #fff;
}
.list img{
  border: 3px solid #777777;
  display: block;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
img.clearmargin{
  margin-right: 0;
}
/*  copyright  */
.copyright{
  padding-left: 80px;
  padding-right: 80px;
  height: 58px;
}
.copyright p{
  line-height: 58px;
  font-size: 12px;
}
.name{
  font-size: 28px;
}
.copyright a{
  color: #000;
  font-weight: 600;
}

.content h1{
  font-family: 'GeosansLight',sans-serif;
  color: #2d2d2d;
  text-align: center;
  line-height: 118px;
  margin: 0 auto;
}
